<div class="col-8 col-12-medium">
	<div id="content">
		<article>
			<header class="major">
				<h2>Main content</h2>
				<p>
					some text here
				</p>
			</header>
			<span class="image feautured"><img src="~/img/bg.jpg" alt="Welcome" /></span>
		</article>

	</div>
</div>
<!-- Sidebar -->
@await Html.PartialAsync("_SidebarPartial")